{{template "base"}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <H1>This is the home page</H1>
            <p> Some text about the home page</p>
        </div>
    </div>
</div>
{{end}}